<div class="page-container">
  <div class="coverageSection">
    <h6 class="Titulo"><strong> Tu seguro de coche</strong></h6>
    <h6 class="coverage-title">Coberturas incluidas en tu póliza</h6>
    <hr class="green-line" />
    <div *ngFor="let coverage of (coverageTypeList$ | async) || []">
      <p></p>
      <app-card-component
        [coverageType]="coverage"
        (coverageChange)="toggleCoverage($event)"
      >
      </app-card-component>
    </div>
  </div>

  <!-- Pasar dades al component Summary -->

  <div class="sum">
    <app-summary
      [formData]="formData$ | async"
      [coverageTypes]="(coverageTypeList$ | async) || []"
      [totalPrice]="totalPrice$ | async"
    >
    </app-summary>
  </div>
</div>
