<div class="form-container">
    <h3>Propietario/a del vehículo</h3>
    
    <form>
      <div class="input-group">
        <input type="text" placeholder="Nombre" class="input-field">
        <input type="text" placeholder="Apellidos" class="input-field">
      </div>
      <div class="input-group">
        <input type="text" placeholder="DNI/NIE" class="input-field">
      </div>
      
      <p class="privacy-text">
        Al hacer clic en Siguiente confirmas que has leído y aceptas la
        <a href="#" target="_blank">Política de Privacidad</a> y los 
        <a href="#" target="_blank">Términos y Condiciones</a> que contienen información sobre el tratamiento de tus datos personales.
      </p>
      
      <button type="submit" class="submit-button">Siguiente</button>
    </form>
  </div>
  