.form-container {
    flex: 0 0 30%; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ede9e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
}
.resum1 {
    flex: 0 0 30%; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
}


.price-summary {
    margin-top: 20px;
    text-align: left; 
    font-family: Arial, sans-serif;
}

.price-title {
    font-size: 16px;
    font-weight: 600;
    color: #2C3E50; 
}

.price-container {
    display: flex;
    align-items: baseline;
}

.price-big {
    font-size: 48px; 
    font-weight: 700;
    color: #191b1d;
}

.price-euros {
    font-size: 18px;
    margin-left: 5px; 
    color: #2C3E50;
}

.price-details {
    font-size: 12px;
    color: #5A6A75; 
    line-height: 1; 
    margin-top: 5px;
}


.price {
    color: green;
    font-weight: bold;
}